:root {
    --dark-blue: #162a72;
    --light-gray: #e3e4e5;
    --blue-hue: #405685;
    background-color: var(--blue-hue);
}

button {
    background-color: var(--dark-blue);
    color: var(--light-gray);
    border: none;
    border-radius: 8px;
    font-size: 16px;
    padding: 10px 15px;
}

.home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}